
input[type=text], input[type=password], input[type=email] {
  border: 1px solid $primaryLight;
  font-size: $contentFontSize;
  height: 34px;
  padding: 8px;
  padding-bottom: 1px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding-top: 0px;
}
input:focus, select:focus, textarea:focus {
  outline: none;
}
input[type=text].error, input[type=password].error, input[type=email].error {
  color: $errorRed;
  border-color: $errorRed !important;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  border: 1px solid $primary;
  border-bottom: 2px solid $primary;
  padding-bottom: 0;
}
input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
  border-color: $primary;
}

form {
  h2 {
    padding-bottom: 16px;
  }

  input[type=text], input[type=password], input[type=email] {
    display: block;
    width: 100%;
  }

  .submitArea {
    display: flex;
    align-items: center;

    i {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}

.iconTextInput {
  position: relative;
  padding-bottom: 8px;
  padding-top: 8px;
  color: $primaryLight;

  .fieldIcon {
    position: absolute;
    font-size: $contentFontSize;
    padding: 8px;
    bottom: 10px;
    pointer-events: none;
  }
  input[type=text], input[type=password], input[type=email] {
    padding-left: 28px;
  }
  p {
    margin: 0;
    padding-left: 8px;
  }
}

.select {
  border: 1px solid $primary;
  background-color: $primary;
  display: block;
  border-radius: 8px;
  height: 35px;
  box-sizing: border-box;
  select {
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
    color: $white;
    text-decoration: none;
    border: 1px solid $primary;
    background-color: $primary;
    height: 100%;
  }
}
