@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

$black: #000;
$white: #FFF;
$grey: #888;
$lightGrey: #DDD;
$subtleGrey: #EEE;
$errorRed: #F44336;
$margin: 4vw;
$contentFontSize: 14px;
$headerHeight: 50px;
$containerBorder: 1px solid #DDD;
$largeShadow: 0 0px 0px rgba(0,0,0,0.19), 0 0px 0px rgba(0,0,0,0.23);
$smallShadow: 0 0px 0px rgba(0,0,0,0.19), 0 0px 0px rgba(0,0,0,0.23);
$primary: #1EAEDB;
$primarySubtle: #F9FFFF;
$primaryLight: #6FCAE8;

@import 'layout';
@import 'search';
@import 'forms';
@import 'set';
@import 'type';
@import 'profile';
@import 'documentation';

body {
	background-color: $white;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin: 0;
	color: $black;
	background-color: $primarySubtle;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

.largeHeader {
	h1 {
		font-size: 80px;
		margin-top: -28px;
	}
	h1, p {
		color: $white;
	}
}

a {
	color: $black;
	text-decoration: underline;
	cursor: pointer;

	i {
		margin-right: 4px;
	}
}
a:hover {
	color: $primary;
}

button, input[type=submit] {
	color: $primary;
	border: 1px solid $primary;
	background-color: transparent;
	font-size: 14px;
	padding: 8px;
	border-radius: 8px;
	cursor: pointer;
	outline: 0;

	i {
		margin-right: 4px;
	}
}
button:hover, {
	background-color: $primary;
	color: $white;
}
button.primary, input[type=submit] {
	color: $white;
	background-color: $primary;

	i {
		margin-right: 4px;
	}
}
button.primary:hover, input[type=submit]:hover {
	border: 1px solid $primaryLight;
	background-color: $primaryLight;
}

i {
	min-width: 12px;
}

ul {
	padding: 0;
}

ul.tabs {
	display: flex;
	flex-direction: row;
	margin: 0;

	.selected {
		border-bottom: 4px solid $primary;
		box-sizing: border-box;
		margin-left: 0;
		margin-right: 0;
		padding-left: 10px;
		padding-right: 10px;
		a {
			color: $primary;
		}
	}
	li {
		height: $headerHeight;
		list-style: none;
		margin-left: 10px;
		margin-right: 10px;
		line-height: $headerHeight;
	}
	li:last-child {
		margin-right: 0;
	}
}

.error {
	color: $errorRed;
}

.page-container {
	padding-left: 5%;
	padding-right: 5%;
}

.clickableShadow {
	box-shadow: $smallShadow;
	transition: box-shadow 0.25s;
}
.clickableShadow:hover {
	box-shadow: $largeShadow;
}

.rowFlex {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modalConainer {
	z-index: 6;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow-y: auto;
	padding-top: 14px;

	.modalCover {
		background-color: rgba(0,0,0,0.75);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		cursor: pointer;
	}
	.modalArea {
		position: relative;
		background-color: $white;
		min-width: 260px;
		padding: 16px;
		margin-top: 36px;
		border: $containerBorder;
		border-radius: 8px;
		border-top-right-radius: 0;

		.modalExit {
			position: absolute;
			color: $primary;
			top: -1px;
			right: -37px;
			font-size: 18px;
			background-color: #FFF;
			height: 36px;
			line-height: 36px;
			width: 36px;
			text-align: center;
			border: $containerBorder;
			border-left: none;
			cursor: pointer;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;

			@media (max-width: 375px) {
				top: -37px;
				right: -1px;
				border-bottom-right-radius: 0;
				border-top-left-radius: 8px;
				border-bottom: none;
				border-left: $containerBorder;
		  }
		}
		.modalExit:hover {
			color: $primaryLight;
		}
	}
}

.centeredMessage {
	padding: 16px;
	text-align: center;
}

.infoPage {
	max-width: 800px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.infoContainer {
	max-width: 800px;
	padding: 16px;
	margin-left: $margin;
	margin-right: $margin;
	margin-top: 8px;
	margin-bottom: 8px;
	box-shadow: $smallShadow;
	border: $containerBorder;
	transition: box-shadow 0.25s;
	background-color: $white;

	p {
		margin-top: 4px;
		margin-bottom: 4px;
	}
	ul {
		margin-bottom: 0;
	}
}
.infoContainer:hover {
	box-shadow: $largeShadow;
}

.banner {
	z-index: -1;
	position: absolute;
	top: $headerHeight;
	left: 0;
	right: 0;
	height: 200px;
	background-color: $grey;
	color: $white;
  background-image: url("/images/background.png");
  background-size: cover;
  background-position: center;
	box-shadow: $smallShadow;
}
