@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);
@import url(https://fonts.googleapis.com/css?family=Montserrat:light);

$black: #000;
$white: #FFF;
$grey: #888;
$lightGrey: #DDD;
$subtleGrey: #EEE;
$errorRed: #F44336;
$margin: 4vw;
$contentFontSize: 14px;
$headerHeight: 50px;
$containerBorder: 1px solid #DDD;
$largeShadow: 0 0px 0px rgba(0,0,0,0.19), 0 0px 0px rgba(0,0,0,0.23);
$smallShadow: 0 0px 0px rgba(0,0,0,0.19), 0 0px 0px rgba(0,0,0,0.23);
$primary: #5770F1;
$primarySubtle: #F4F5F7;
$primaryLight: #6FCAE8;
$primaryDark: #0B0717;

@import 'forms';

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	margin: 0;
	color: $black;
	background-color: $primarySubtle;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

.largeHeader {
	z-index: 2;
	h1 {
		font-size: 80px;
		margin-top: -28px;
	}
	h1, p {
		color: $white;
	}
}

a {
	color: $black;
	text-decoration: underline;
	cursor: pointer;

	i {
		margin-right: 4px;
	}
}
a:hover {
	color: $primary;
}

button, input[type=submit] {
	color: $primary;
	border: 1px solid $primary;
	background-color: transparent;
	font-size: 14px;
	padding: 8px;
	border-radius: 8px;
	cursor: pointer;
	outline: 0;
	font-family: 'Montserrat', 'sans-serif';

	i {
		margin-right: 4px;
	}
}
button:hover, {
	background-color: $primary;
	color: $white;
}
button.primary, input[type=submit] {
	color: $white;
	background-color: $primary;

	i {
		margin-right: 4px;
	}
}
button.primary:hover, input[type=submit]:hover {
	border: 1px solid $primaryLight;
	background-color: $primaryLight;
}

i {
	min-width: 12px;
}

ul {
	padding: 0;
}

ul.tabs {
	display: flex;
	flex-direction: row;
	margin: 0;

	.selected {
		border-bottom: 4px solid $primary;
		box-sizing: border-box;
		margin-left: 0;
		margin-right: 0;
		padding-left: 10px;
		padding-right: 10px;
		a {
			color: $primary;
		}
	}
	li {
		height: $headerHeight;
		list-style: none;
		margin-left: 10px;
		margin-right: 10px;
		line-height: $headerHeight;
	}
	li:last-child {
		margin-right: 0;
	}
}

.error {
	color: $errorRed;
}

.rowFlex {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modalConainer {
	z-index: 6;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow-y: auto;
	padding-top: 14px;

	.modalCover {
		background-color: rgba(0,0,0,0.75);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		cursor: pointer;
	}
	.modalArea {
		position: relative;
		background-color: $white;
		min-width: 260px;
		padding: 16px;
		margin-top: 36px;
		border: $containerBorder;
		border-radius: 8px;
		border-top-right-radius: 0;

		.modalExit {
			position: absolute;
			color: $primary;
			top: -1px;
			right: -37px;
			font-size: 18px;
			background-color: #FFF;
			height: 38px;
			line-height: 36px;
			width: 36px;
			text-align: center;
			border: $containerBorder;
			border-left: none;
			cursor: pointer;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;

			@media (max-width: 375px) {
				top: -37px;
				right: -1px;
				border-bottom-right-radius: 0;
				border-top-left-radius: 8px;
				border-bottom: none;
				border-left: $containerBorder;
		  }
		}
		.modalExit:hover {
			color: $primaryLight;
		}
	}
}

.centeredMessage {
	padding: 16px;
	text-align: center;
}

.infoPage {
	max-width: 800px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.infoContainer {
	max-width: 800px;
	padding: 16px;
	margin-left: $margin;
	margin-right: $margin;
	margin-top: 8px;
	margin-bottom: 8px;
	box-shadow: $smallShadow;
	border: $containerBorder;
	transition: box-shadow 0.25s;
	background-color: $white;

	p {
		margin-top: 4px;
		margin-bottom: 4px;
	}
	ul {
		margin-bottom: 0;
	}
}
.infoContainer:hover {
	box-shadow: $largeShadow;
}

.banner {
	position: relative;
	color: $white;
	padding-top: 24px;
	padding-bottom: 150px;
	height: 550px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	background: linear-gradient(to top right, $primary , $primaryLight);
	padding-left: $margin;
	padding-right: $margin;
	
	h1 {
		font-size: 75px;
	}

	p {
		font-size: 20px;
	}	
	
}

form.emailBox {
	display: flex;
	padding: 0;
	flex-grow: 1;
	margin-top: 64px;
	justify-content: center;

	input[type=submit] {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		background-color: $primaryDark;
		border: 1px solid $primaryDark;
	}
	input[type=submit]:hover {
		background-color: $primary;
		border: 1px solid $primary;
	}
	input[type=text] {
		height: 36px;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
	}
}

.pitchArea {
	background-color: $primarySubtle;
	display: flex;
	justify-content: center;
	margin-left: $margin;
	margin-right: $margin;

	@media (max-width: 700px) {
		flex-direction: column;
		align-items: stretch;

		.pitchInner {
			width: auto !important;
		}
	}

	.pitchInner {
		width: 300px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

		i {
			font-size: 75px;
			color: $primary;
			margin-bottom: 16px;
		}

		h2 {
			margin-bottom: 16px;
		}

		p {
			font-size: 16px;
		}

	}
}


.codeArea {
	flex-direction: column;

	@media (max-width: 450px) {
		img {
			width: 300px;
		}
		h2 {
			font-size: 32px;
		}
	}

	.codeInner {
		padding-top: 75px;
		padding-bottom: 75px;
		margin-left: $margin;
		margin-right: $margin;

		i {
			font-size: 100px;
			color: $primary;

		}
		section {
			margin-left: $margin;
			margin-right: $margin;

			h2 {
				font-size: 50px;
				margin-bottom: 16px;
				font-family: 'Montserrat', sans-serif;
				font-weight: light;
			}
			p {
				font-size: 16px;
			}
		}
	}
	
}
.codeArea:nth-child(odd) {
	background-color: $white;

	pre {
		background-color: $primarySubtle;

		code {
			background-color: $primarySubtle;
		}
	}
}
.codeArea:nth-child(even) {
	background-color: $primarySubtle;

	pre {
		background-color: $white;

		code {
			background-color: $white;
		}
	}
}

.bannerSpacer {
	height: 172px;
	background-color: $primarySubtle;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 10000px 0; }
}

.cards {
	position: absolute;
	left: 0;
	top: 400px;
	right: 0;
	height: 300px;
	background-image: url("/images/cards.png");
	background-repeat: repeat-x;
	background-size: auto 100%;
	animation: animatedBackground 200s linear infinite;
	/*margin-top: 50px;
	margin-bottom: 50px;*/
}

footer {
	height: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: $margin;
	padding-right: $margin;
	flex-direction: column;
	position: relative;
	background: linear-gradient(to top right, $primary , $primaryLight);

	form.emailBox {
		max-width: 340px;
		flex-grow: 0;
		z-index: 2;
		display: flex;
		width: 100%;

		input[type=text] {
			flex-grow: 1;
		}
	}

	p {
		font-size: 32px;
		color: $white;
		z-index: 2;
	}
	
}

pre {
	border-radius: 8px;
}
