.search {
  padding-top: 16px;
  padding-left: $margin;
  padding-right: $margin;

  .searchNav {
    flex-direction: row;
    margin: 0;
    margin-top: -16px;
    margin-left: -4vw;
    margin-right: -4vw;
    display: flex;
    justify-content: center;
    border-bottom: $containerBorder;
    background-color: $white;
  }



  .searchResults {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -16px;
    margin-right: -16px;

    .setResult {
      width: 225px;
      height: 300px;
      border: $containerBorder;
      margin: 16px;
      position: relative;
      padding: 16px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      flex-grow: 0;
      background-color: $white;
      border-radius: 8px;

      @media (max-width: 523px) {
        margin-top: 8px;
        margin-bottom: 8px;
        height: 200px;
        flex-grow: 1;
      }

      i {
        text-align: center;
      }
      h2 {
        margin-top: 0;
        margin-bottom: 8px;
      }
      p {
        margin-bottom: 0;
        margin-top: 8px;
      }
      .description {
        flex-grow: 1;
        flex-shrink: 1;
        overflow: hidden;
        position: relative;
        margin-top: 0;
      }
      .description:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: $contentFontSize;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 1));
      }
      .rowFlex {
        flex-shrink: 0;
        margin-top: 8px;

        span {
          height: 25px;
          line-height: 25px;
        }
      }
    }
  }
}
