.search {
  padding-top: 16px;
  padding-left: $margin;
  padding-right: $margin;
  .searchBar {
    height: 50px;
    max-width: 800px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border: $containerBorder;
    display: flex;

    input[type=text] {
      height: 100%;
      padding-left: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
      border: none;
      box-sizing: border-box;
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
      flex-grow: 1;
    }
    input[type=text]:focus {
      outline: none;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    input[type=submit] {
      height: 100%;
      border: none;
      padding-right: 16px;
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
      background-color: $white;
      cursor: pointer;
    }
  }

  .searchResults {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -16px;
    margin-right: -16px;

    .setResult {
      width: 200px;
      height: 300px;
      border: $containerBorder;
      margin: 16px;
      position: relative;
      padding: 16px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      @media (max-width: 469px) {
        width: auto;
        margin: $margin;
        margin-top: 0;
        height: 200px;
      }

      i {
        text-align: center;
      }
      h2 {
        margin-top: 0;
        margin-bottom: 8px;
      }
      p {
        margin-bottom: 0;
        margin-top: 8px;
      }
      .description {
        flex-grow: 1;
        flex-shrink: 1;
        overflow: hidden;
        position: relative;
        margin-top: 0;
      }
      .description:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: $contentFontSize;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 1));
      }
      .rowFlex {
        flex-shrink: 0;
        margin-top: 8px;

        span {
          height: 25px;
          line-height: 25px;
        }
      }
    }
  }

  .searchLoading {
    padding: 16px;
    text-align: center;
  }
}
