/* This is almost exactly the same as set.scss but is separate as they may diverge in the future */
.type {
  height: calc(100vh - 50px);
  width: 100vw;
  overflow: auto;

  .infoArea {
    width: 100vw;
    padding-left: $margin;
    padding-right: $margin;
    padding-top: 16px;
    padding-bottom: 4px;
    box-sizing: border-box;
    overflow-x: auto;

    .typeInfo {
      display: flex;
      flex-wrap: wrap;

      div {
        flex-grow: 500;
        margin-bottom: 8px;
      }

      nav {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;

        > a, > span {
          margin-left: 10px;
          margin-right: 10px;
        }
        > a:first-child, > span:first-child {
          margin-left: 0;
        }
        > a:last-child, > span:last-child {
          margin-right: 0;
        }
      }
    }

    .dataNav {
      margin-top: 8px;
      display: flex;
      justify-content: space-between;
    }
  }

  .jsonArea {
    margin: 0;
    padding-left: $margin;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid $lightGrey;
    overflow-x: auto;

    > .typeVisualizer {
      margin-left: 0;
    }
  }
}

.typeVisualizer {
  margin-left: 16px;
  list-style-type: none;
  margin-top: 0;

  .field {
    border-bottom: 1px solid $lightGrey;
    padding-bottom: 4px !important;
  }
  li {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  li:last-of-type {
    padding-bottom: 0;
  }
  li:first-of-type {
    padding-top: 0;
  }
  strong {
    text-transform: uppercase;
  }
}
